---
layout: default
title: Writing
---

<div class="writing">

  <div class="highlight-anchors page-description">
    <p>Personal hobby collection of words and phrases. Or, the possible ramblings of an ambivalent <strike>lunatic</strike> person. All words here are strictly my own opinions.</p>
  </div>
  <ul class="post-list">
    {% for post in site.categories.writing %}
      {% include post_list_item.html post=post %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.url }}">via RSS</a></p>

</div>
