---
layout: default
title: Dress Code
---

<div class="list">

  <div class="highlight-anchors page-description">
    <p>An ongoing guide collection for various things that I hope will either contribute back to the world or at least myself in case I ever forget them.</p>
  </div>
  <ul class="post-list">
    {% for post in site.categories.dress-code %}
      {% include post_list_item.html post=post %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.url }}">via RSS</a></p>

</div>
