# Jekyll files
_site
.jekyll-metadata

# Compass / Sass files
.sass-cache

# OS and Editor files
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.svn
.idea

# Dropbox files
.dropbox
Icon*

# Adobe Asset files
*.psd
*.ai
*.indd/vendor/

# Bower Components Shuffle
!bower_components
bower_components/*
!bower_components/jquery
bower_components/jquery/*
bower_components/jquery/dist/*
!bower_components/jquery/dist/jquery.js
bower_components/requirejs/*
!bower_components/requirejs/require.js
