---
layout: default
---

<div class="home">

  <h1 class="page-heading">Hi,</h1>
  <div class="page-description">
    {{ site.description | markdownify }}
  </div>

  {% assign counter = 0 %}
  {% for post in site.categories.writing %}
    {% assign counter = counter | plus: 1 %}
  {% endfor %}
  <h3>Latest Writing</h3>
  <ul class="post-list">
    {% for post in site.categories.writing limit:4 %}
      {% include post_list_item.html post=post %}
    {% endfor %}
  </ul>
  <div class="cta-links highlight-anchors">
    {% include read_more.html counter=counter %}
    <p>
      You're welcome to <a href="{{ site.baseurl }}/writing/index.html">read
      more</a> of my personal writing and essays.
    </p>
  </div>

  {% assign counter = 0 %}
  {% for post in site.categories.dress-code %}
    {% assign counter = counter | plus: 1 %}
  {% endfor %}
  <h3>Latest Dress Code</h3>
  <ul class="post-list">
    {% for post in site.categories.dress-code limit:4 %}
      {% include post_list_item.html post=post %}
    {% endfor %}
  </ul>
  <div class="cta-links highlight-anchors">
    {% include read_more.html counter=counter %}
    <p>
        Not everything I like to write is cathartic. This is
        <a href="{{ site.baseurl }}/dress-code/index.html">my attempt
        to give back to either my future self or present day you.</a>
    </p>
      </div>

  {% assign counter = 0 %}
  {% for post in site.categories.works %}
    {% assign counter = counter | plus: 1 %}
  {% endfor %}
  <h3>Latest Work</h3>
  <ul class="post-list">
    {% for post in site.categories.works limit:4 %}
      {% include post_list_item.html post=post %}
    {% endfor %}
  </ul>
  <div class="cta-links highlight-anchors">
    {% include read_more.html counter=counter %}
    <p>
      Anything I'm <a href="{{ site.baseurl }}/works/index.html">working
      on or contributing to</a> that deserves more than just lip service ends
      up here. Animated gifs abound.
    </p>
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
