<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.title }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="/resume.pdf">résumé</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% icon fa-github %}
            <a href="https://github.com/{{ site.github_username }}" target="_blank">
              <span class="username">github</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% icon fa-twitter %}
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
              <span class="username">twitter</span>
            </a>
          </li>
          {% endif %}

          {% if site.pinboard_username %}
          <li>
            {% icon fa-bookmark %}
            <a href="https://pinboard.in/u:{{ site.pinboard_username }}" target="_blank">
              <span class="username">pinboard</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>

{% include script.html %}
